:root {
  --primary-color: #007bff;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #f2f5f6;
}

.logo-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-part img {
  width: 158.65px;
  height: 24px;
}
.logo-part .hamburger {
  width: 30px;
  cursor: pointer;
  display: none;
}
.logo-part ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.logo-part li {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
}
.logo-part li a {
  text-decoration: none;
  color: black;
}
.logo-part li a:hover {
  color: #043a53;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, text-decoration 1s ease-in-out;
}

.logo-part button {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s, color 0.3s;
}

.logo-part button:hover,
.logo-part button:active {
  background: #043a53;
  color: white;
}

.hero-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 50px;
  width: 90%;
  max-width: 1200px;
}

.hero-part img {
  width: 250px;
  height: 400px;
}

.hero-part .text {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  line-height: 1.5;
}

.hero-part h1 {
  margin: 0;
  font-size: 3rem;
}

.hero-part .btns {
  display: flex;
  gap: 12px;
}

.hero-part button {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}
.hero-part .btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-part .btn2 img {
  width: 25px;
  height: 25px;
}

.hero-part button:hover,
.hero-part button:active {
  background-color: #043a53;
  color: white;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  /* Tablets */
  .logo-part .hamburger {
    display: block;
  }
  .logo-part .buttons {
    display: none;
  }
  .hero-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px auto;
    padding: 30px;
  }

  .hero-part img {
    width: 200px;
    height: 320px;
  }

  .hero-part .text {
    padding: 0;
  }

  .hero-part h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .logo-part {
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .logo-part ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f2f5f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .logo-part .hamburger {
    display: block;
  }

  .logo-part .nav-links.active {
    display: flex;
  }

  .logo-part .buttons {
    display: none;
  }

  .logo-part li {
    padding: 10px 20px;
    text-align: center;
  }

  .logo-part li a {
    color: black; /* Ensure links are visible */
  }

  .logo-part li a:hover {
    color: #043a53; /* Hover effect */
  }

  .hero-part {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
  }

  .hero-part img {
    width: 150px;
    height: 250px;
  }

  .hero-part .text {
    padding: 0;
    text-align: center;
    margin: 20px;
  }

  .hero-part h1 {
    font-size: 2rem;
  }

  .hero-part .btns {
    flex-direction: column;
  }
}

/* Trusted-Brands */
.trusted-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.brands-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .trusted-brands {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
  }
  .logo-part .hamburger {
    display: block;
  }
  .logo-part .buttons {
    display: none;
  }
  .brands-div {
    flex-wrap: wrap;
    gap: 20px;
  }
  .brands-div img {
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .trusted-brands {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
  }

  .brands-div {
    flex-wrap: wrap;
    gap: 20px;
  }
  .brands-div img {
    width: 100px;
  }
}
/* Trusted-Brands */

/* video Section */
.video-section {
  padding-top: 100px;
  padding-bottom: 0;
  margin: 50px auto;
  background-color: #043a53;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vid-div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 63%;
}
.vid-div-container h1:first-child {
  color: white;
  font-size: xx-large;
}
.vid-div-container h1:last-child {
  color: #f0b73f;
  font-size: xx-large;
}
.vid-div-container p {
  color: white;
  width: 40%;
}

.video-section img {
  margin-bottom: -4px;
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.ellipse {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
}

.ellipse img {
  margin-right: -5px;
}
@media (max-width: 768px) {
  .video-section {
    padding: 10px;
  }
  .video-section img {
    margin-bottom: -15px;
  }
  .vid-div-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .vid-div-container p {
    width: 100%;
  }
  .ellipse {
    width: 50px;
    height: 50px;
    top: 75%;
  }
  .ellipse img {
    width: 15px;
    margin-top: -11px;
  }
}
@media (max-width: 1024px) {
  .ellipse {
    top: 82%;
  }
}
/* video Section */

/* benefits */
.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  gap: 10px;
}
.benefits div:first-child {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.benefits div:first-child h1 {
  font-size: 50px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f6;
  width: 15%;
  padding: 30px;
  border-radius: 16px;
}
.benefit-card img {
  width: 93.33px;
  height: 84px;
}

.benefit-card p {
  color: #404040;
}
.benefits button {
  background-color: #043a53;
  color: white;
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  width: 20%;
  outline: none;
  border: none;
}
@media (max-width: 1024px) {
  .benefits {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .benefits div:first-child {
    width: 100%;
    text-align: center;
  }

  .benefit-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .benefits button {
    width: 25%;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .benefits {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .benefits div:first-child {
    width: 100%;
    text-align: center;
  }

  .benefit-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .benefits button {
    width: 35%;
    align-self: center;
  }
}
/* benefits */

/* Bridges-Sections */
.bridges {
  display: flex;
  gap: 150px;
  padding-right: 100px;
}
.bridge-1 {
  display: flex;
  align-items: center;
  position: relative;
}
.bridge-1 img:last-child {
  height: 250px;
  position: absolute;
  bottom: 67px;
  right: -98px;
}
.bridge-2 {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.bridge-2 h1 {
  font-size: 50px;
  width: 85%;
}
.bridge-2 h1 span {
  color: #92a7b0;
}
.bridge-2 button {
  background-color: #043a53;
  color: white;
  width: 30%;
  border-radius: 55px;
  border: none;
  outline: none;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.bridge-2 button:hover,
.bridge-2 button:active {
  background-color: #11678f;
}
.bridge-2 button span {
  background: #2a586d;
  padding: 5px;
  border-radius: 50%;
}
/* Bridges-Sections */
