:root {
  --primary-color: #007bff;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
}

header {
  background-color: #f2f5f6;
}

.logo-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-part img {
  width: 158.65px;
  height: 24px;
}

.logo-part ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.logo-part li {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
}

.logo-part li:hover {
  color: #043a53;
}

.logo-part button {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s, color 0.3s;
}

.logo-part button:hover,
.logo-part button:active {
  background: #043a53;
  color: white;
}

.hero-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  padding: 50px;
  width: 90%;
  max-width: 1200px;
}

.hero-part img {
  width: 250px;
  height: 400px;
}

.hero-part .text {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  line-height: 1.5;
}

.hero-part h1 {
  margin: 0;
  font-size: 3rem;
}

.hero-part .btns {
  display: flex;
  gap: 12px;
}

.hero-part button {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}
.hero-part .btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-part .btn2 img {
  width: 25px;
  height: 25px;
}

.hero-part button:hover,
.hero-part button:active {
  background-color: #043a53;
  color: white;
}
<<<<<<< HEAD
=======
<<<<<<< Updated upstream
=======
>>>>>>> main

/* Responsive Styles */
@media (max-width: 1024px) {
  /* Tablets */
  .hero-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px auto;
    padding: 30px;
  }

  .hero-part img {
    width: 200px;
    height: 320px;
  }

  .hero-part .text {
    padding: 0;
  }

  .hero-part h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  /* Mobile Devices */
  .logo-part {
    flex-direction: column;
    gap: 10px;
  }

  .logo-part ul {
    gap: 10px;
    padding: 0;
  }

  .hero-part {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
  }

  .hero-part img {
    width: 150px;
    height: 250px;
  }

  .hero-part .text {
    padding: 0;
  }

  .hero-part h1 {
    font-size: 2rem;
  }

  .hero-part .btns {
    flex-direction: column;
  }
}
<<<<<<< HEAD
=======

/* Trusted-Brands */
.trusted-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.brands-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Trusted-Brands */
>>>>>>> Stashed changes
>>>>>>> main
