:root {
  --primary-color: #007bff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
@media (max-width: 1024px) {
  body {
    width: 101%;
  }
}

@media (max-width: 768px) {
  body {
    width: 110%;
  }
}
header {
  background-color: #f2f5f6;
}

.logo-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-part img {
  width: 158.65px;
  height: 24px;
}
.logo-part .hamburger {
  width: 30px;
  cursor: pointer;
  display: none;
}
.logo-part ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.logo-part li {
  list-style: none;
  cursor: pointer;
  transition: color 0.3s;
}
.logo-part li a {
  text-decoration: none;
  color: black;
}
.logo-part li a:hover {
  color: #043a53;
  text-decoration: underline;
  transition: color 0.3s ease-in-out, text-decoration 1s ease-in-out;
}

.logo-part button {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
  transition: background-color 0.3s, color 0.3s;
}

.logo-part button:hover,
.logo-part button:active {
  background: #043a53;
  color: white;
}

.hero-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 50px;
  width: 90%;
  max-width: 1200px;
}

.hero-part img {
  width: 250px;
  height: 400px;
}

.hero-part .text {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  line-height: 1.5;
}

.hero-part h1 {
  margin: 0;
  font-size: 3rem;
}

.hero-part .btns {
  display: flex;
  gap: 12px;
}

.hero-part button {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}
.hero-part .btn2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-part .btn2 img {
  width: 25px;
  height: 25px;
}

.hero-part button:hover,
.hero-part button:active {
  background-color: #043a53;
  color: white;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  /* Tablets */
  .logo-part .hamburger {
    display: block;
  }
  .logo-part .buttons {
    display: none;
  }
  .hero-part {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 80px auto;
    padding: 30px;
  }

  .hero-part img {
    width: 200px;
    height: 320px;
  }

  .hero-part .text {
    padding: 0;
  }

  .hero-part h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .logo-part {
    gap: 10px;
    align-items: center;
    position: relative;
  }

  .logo-part ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f2f5f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  .logo-part .hamburger {
    display: block;
  }

  .logo-part .nav-links.active {
    display: flex;
  }

  .logo-part .buttons {
    display: none;
  }

  .logo-part li {
    padding: 10px 20px;
    text-align: center;
  }

  .logo-part li a {
    color: black; /* Ensure links are visible */
  }

  .logo-part li a:hover {
    color: #043a53; /* Hover effect */
  }

  .hero-part {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
  }

  .hero-part img {
    width: 150px;
    height: 250px;
  }

  .hero-part .text {
    padding: 0;
    text-align: center;
    margin: 20px;
  }

  .hero-part h1 {
    font-size: 2rem;
  }

  .hero-part .btns {
    flex-direction: column;
  }
}

/* Trusted-Brands */
.trusted-brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
  padding: 0 150px;
}

.brands-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .trusted-brands {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
  }
  .logo-part .hamburger {
    display: block;
  }
  .logo-part .buttons {
    display: none;
  }
  .brands-div {
    flex-wrap: wrap;
    gap: 20px;
  }
  .brands-div img {
    width: 100px;
  }
}
@media (max-width: 1024px) {
  .trusted-brands {
    flex-direction: column;
    align-items: center;
    margin: 20px;
    white-space: nowrap;
  }

  .brands-div {
    flex-wrap: wrap;
    gap: 20px;
  }
  .brands-div img {
    width: 100px;
  }
}
/* Trusted-Brands */

/* video Section */
.video-section {
  padding-top: 100px;
  padding-bottom: 0;
  margin: 50px auto;
  background-color: #043a53;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vid-div-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 63%;
}
.vid-div-container h1:first-child {
  color: white;
  font-size: xx-large;
}
.vid-div-container h1:last-child {
  color: #f0b73f;
  font-size: xx-large;
}
.vid-div-container p {
  color: white;
  width: 40%;
}

.video-section img {
  margin-bottom: -4px;
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.ellipse {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
}

.ellipse img {
  margin-right: -5px;
}
@media (max-width: 768px) {
  .video-section {
    padding: 10px;
  }
  .video-section img {
    margin-bottom: -14px;
  }
  .vid-div-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .vid-div-container p {
    width: 100%;
  }
  .ellipse {
    width: 50px;
    height: 50px;
    top: 75%;
  }
  .ellipse img {
    width: 15px;
    margin-top: -11px;
  }
}
@media (max-width: 1024px) {
  .ellipse {
    top: 82%;
  }
}
/* video Section */

/* benefits */
.benefits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  gap: 10px;
}
.benefits div:first-child {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.benefits div:first-child h1 {
  font-size: 50px;
}

.benefit-card {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f6;
  width: 15%;
  padding: 30px;
  border-radius: 16px;
}
.benefit-card img {
  width: 93.33px;
  height: 84px;
}

.benefit-card p {
  color: #404040;
}
.benefits button {
  background-color: #043a53;
  color: white;
  padding: 10px 15px;
  border-radius: 100px;
  cursor: pointer;
  width: 20%;
  outline: none;
  border: none;
}
@media (max-width: 1024px) {
  .benefits {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .benefits div:first-child {
    width: 100%;
    text-align: center;
  }

  .benefit-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .benefits button {
    width: 25%;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .benefits {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .benefits div:first-child {
    width: 100%;
    text-align: center;
  }

  .benefit-card {
    width: 100%;
    margin-bottom: 20px;
  }

  .benefits button {
    width: 35%;
    align-self: center;
  }
}
/* benefits */

/* Bridges-Sections */
.bridges {
  display: flex;
  gap: 150px;
  padding-right: 100px;
}

.bridge-1 {
  display: flex;
  align-items: center;
  position: relative;
}

.bridge-1 img:last-child {
  height: 250px;
  position: absolute;
  bottom: 67px;
  right: -98px;
}

.bridge-2 {
  display: flex;
  flex-direction: column;
  padding: 50px;
  line-height: 1.5;
}

.bridge-2 h1 {
  font-size: 50px;
  width: 85%;
}

.bridge-2 h1 span {
  color: #92a7b0;
}

.bridge-2 button {
  background-color: #043a53;
  color: white;
  width: 12rem;
  border-radius: 55px;
  border: none;
  outline: none;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.bridge-2 button:hover,
.bridge-2 button:active {
  background-color: #11678f;
}

.bridge-2 button span {
  background: #2a586d;
  padding: 5px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .bridges {
    flex-direction: column-reverse;
    gap: 50px;
    padding-right: 0;
  }

  .bridge-1 img:first-child {
    max-width: 85%;
  }
  .bridge-1 img:last-child {
    bottom: -75px;
    right: 136px;
    position: relative;
    margin-top: 20px;
  }

  .bridge-2 {
    padding: 20px;
  }

  .bridge-2 h1 {
    font-size: 40px;
    width: 100%;
  }

  .bridge-2 button {
    width: 25%;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .bridges {
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  .bridge-1 img:last-child {
    height: 200px;
  }

  .bridge-2 h1 {
    font-size: 30px;
  }

  .bridge-2 button {
    width: 45%;
    align-self: center;
  }
}
/* Bridges-Sections */

/* <!-- Numbers Section --> */
.numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 150px;
  text-align: center;
}
.num-div {
  line-height: 0.5;
  white-space: nowrap;
  text-align: center;
}
.num-div p:first-child {
  color: #043a53;
  font-size: 50px;
  font-weight: bold;
}
.num-div p:last-child {
  color: #1e1e1e;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .numbers {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
  }

  .num-div p:first-child {
    font-weight: 50;
  }
  .num-div {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .numbers {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
  }
  .num-div p:first-child {
    font-weight: 50;
  }
}
/* <!-- Numbers Section --> */

/* <!-- Meet our founder Section --> */
.founder {
  align-items: center;
  display: flex;
  padding: 0 100px;
}
.founder .txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
}
.founder .txt h1 {
  font-size: 50px;
  margin: 0;
}
.founder .txt div p:first-child {
  font-weight: bold;
}
.founder .txt div {
  line-height: 0.5;
}
.founder .txt div p:last-child {
  color: #404040;
}
.founder .imgs {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 400px;
}

.founder .imgs .img2 {
  height: 15rem;
  position: absolute;
  bottom: 0;
  left: 1rem;
}
.founder .imgs .img3 {
  position: absolute;
  right: 7rem;
  z-index: -1;
  bottom: 10rem;
}
.founder button {
  background-color: #043a53;
  color: white;
  border-radius: 55px;
  width: 20rem;
  border: none;
  outline: none;
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.founder button:hover,
.founder button:active {
  background-color: #11678f;
}

.founder button span {
  background: #2a586d;
  padding: 5px;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .founder {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .founder .imgs {
    width: 100%;
    min-height: 300px; /* Keeping your adjusted size for mobile */
    margin-top: 50px;
  }
  .founder .img1 {
    width: 100%;
    height: auto;
  }
  .founder .imgs .img2 {
    left: -1rem;
    bottom: -1rem;
    height: 17rem;
  }
}
.founder .imgs .img3 {
  right: 7rem;
  bottom: 8rem;
  height: 25rem;
}
.founder .txt {
  padding: 30px 20px;
}
.founder button {
  align-self: center;
  width: 90%;
}

@media (max-width: 768px) {
  .founder {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .founder .imgs .img3 {
    right: 4rem;
    bottom: 6rem;
    height: 10rem;
  }
  .founder .imgs .img2 {
    left: -1rem;
    bottom: -1rem;
    height: 9rem;
  }
}

.founder .txt h1 {
  font-size: 36px;
}

/* <!-- Meet our founder Section --> */

/* Testimonials Section */
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 150px;
  background-color: #f2f5f6;
}

.testimonial .testi-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.testi-1 h1 {
  font-size: 50px;
}

.testi-1 p {
  text-align: center;
}

.testimonial .testi-1 img {
  margin-left: 20px;
}

.testi-2 {
  display: flex;
  gap: 2rem;
  margin-bottom: 80px;
}

.profile {
  background-color: white;
  border-radius: 16px;
  width: 50%;
  padding: 15px;
  transition: transform 0.3s;
}

.profile:hover {
  transform: scale(1.05);
}

.profile .profile-div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile-div div p:first-child {
  font-weight: bold;
}

.profile-div div p:last-child {
  color: #404040;
}

.testimonial .carousel {
  align-self: center;
}
.testimonial .res {
  display: none;
}
.seeall-res {
  display: none;
}
.carousel-img {
  display: none;
}
/* Large screens */
@media (max-width: 1024px) {
  .testimonial {
    padding: 60px 0;
  }
  .testi-1 h1 {
    font-size: 35px;
  }
  .seeall-res {
    display: block;
    align-self: center;
    text-align: center;
  }
  .seeall-res span {
    margin-right: 20px;
    font-size: larger;
  }
  .testi-2 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .carousel {
    display: none;
  }
  .profile {
    width: 230px;
    padding: 14px;
    flex-grow: 2;
  }
  .profile h1 {
    font-size: smaller;
  }
  .testi-1 p {
    display: none;
  }
  .testi-2 .profile:nth-of-type(2) {
    display: none;
  }
  .testi-1 {
    flex-direction: column;
  }
  .carousel-img {
    display: block;
  }
  .testimonial .res {
    display: block;
    margin-bottom: 30px;
  }
}

/* Medium screens */
@media (max-width: 768px) {
  .testimonial {
    padding: 60px 0;
  }
  .carousel-img {
    display: block;
  }
  .testi-1 h1 {
    font-size: 35px;
  }
  .seeall-res {
    display: block;
    align-self: center;
    text-align: center;
  }
  .seeall-res span {
    margin-right: 20px;
    font-size: larger;
  }
  .testi-2 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .carousel {
    display: none;
  }
  .profile {
    width: 230px;
    padding: 14px;
    flex-grow: 2;
  }
  .profile h1 {
    font-size: smaller;
  }
  .testi-1 p {
    display: none;
  }
  .testi-2 .profile:nth-of-type(2) {
    display: none;
  }
  .testi-1 {
    flex-direction: column;
  }

  .testimonial .res {
    display: block;
    margin-bottom: 30px;
  }
}

/* Small screens */
@media (max-width: 480px) {
  .testimonial {
    padding: 40px 0;
  }

  .testimonial .res {
    display: block;
    margin-bottom: 30px;
  }
  .carousel-img {
    display: block;
  }
  .testi-2 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  .seeall-res {
    display: block;
    align-self: center;
    text-align: center;
  }
  .seeall-res span {
    margin-right: 20px;
    font-size: larger;
  }
  .testi-1 {
    flex-direction: column;
  }
  .carousel {
    display: none;
  }
  .testi-1 h1 {
    font-size: 30px;
  }
  .testi-1 p {
    display: none;
  }
  .profile {
    width: 300px;
    max-width: 400px;
    margin: 0 15px;
    flex-grow: 2;
  }
  .testi-2 {
    gap: 0;
    align-items: stretch;
  }
}

/* Testimonials  Section*/

/* whats New Section */
.whats-new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 150px;
  flex-wrap: wrap;
}
.whats-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}
.whats-1 h1 span {
  color: #043a53;
}
.whats-1 h1 {
  font-size: 50px;
}

.whats-1 p {
  text-align: center;
  font-weight: 500;
}

.whats-1 img {
  margin-left: 20px;
}
.whats-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.whats-card {
  border-radius: 8px;
  box-shadow: 1px 2px 3px gray;
  transition: transform 0.3s;
}
.whats-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.whats-card .whats-img {
  width: 100%;
}
.whats-card a {
  text-decoration: none;
  border: none;
  color: inherit;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  font-weight: 500;
}
.read {
  display: flex;
  align-items: center;
  gap: 20px;
}

.whats-card p:first-of-type {
  font-weight: bold;
}
.whats-card p:first-of-type span {
  color: #404040;
  font-weight: 400;
}
.text-content {
  padding: 15px;
}
.whats-res {
  display: none;
}
@media (max-width: 1024px) {
  .whats-new {
    padding: 50px;
  }
  .whats-1 h1 {
    font-size: 50px;
  }
}

/* Medium screens */
@media (max-width: 768px) {
  .whats-new {
    padding: 60px 0;
  }
  .whats-res {
    display: block;
  }
  .whats-1 h1 {
    font-size: 35px;
  }
  .seeall-res {
    display: block;
    align-self: center;
    text-align: center;
  }
  .seeall-res span {
    margin-right: 20px;
    font-size: larger;
  }
  .whats-2 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .whats-card {
    width: 230px;
    padding: 14px;
    flex-grow: 2;
  }

  .whats-1 p {
    display: none;
  }
  .whats-2 .whats-card:nth-of-type(1),
  .whats-2 .whats-card:nth-of-type(3) {
    display: none;
  }
  .whats-1 {
    flex-direction: column;
  }
}

/* Small screens */
@media (max-width: 480px) {
  .whats-new {
    padding: 40px 0;
  }
  .whats-res {
    display: block;
  }
  .whats-2 {
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  .seeall-res {
    display: block;
    align-self: center;
    text-align: center;
  }
  .seeall-res span {
    margin-right: 20px;
    font-size: larger;
  }
  .whats-1 {
    flex-direction: column;
  }

  .whats-1 h1 {
    font-size: 30px;
  }
  .whats-1 p {
    display: none;
  }
  .whats-card {
    width: 300px;
    max-width: 400px;
    margin: 0 15px;
    flex-grow: 2;
  }
  .whats-2 {
    gap: 0;
    align-items: stretch;
  }
}

/* whats New Section */

/* CTA Section */
.cta-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-bottom: 0;
  background: #000;
  position: relative;
}
.cta-1 {
  /* max-width: 40%; */
  line-height: 2;
  padding: 10px;
}
.cta-1 button {
  background-color: #f0b73f;
  color: white;
  width: 14rem;
  border-radius: 55px;
  border: none;
  outline: none;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
}
.cta-banner h1 {
  font-size: 3rem;
  color: white;
}
.cta-1 button:hover {
  background-color: #c99a35;
}
.cta-banner p {
  color: #ffffff;
}
.cta-1 button span:nth-child(2) {
  background-color: #c99a35;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-1 button span:nth-child(2) {
  background: #f0b73f;
}
.cta-2 {
  position: relative;
  bottom: -4px;
  margin: 0 10px;
}
.cta-2 .girl-img {
  position: relative;
  z-index: 1;
}
.yellow {
  position: absolute;
  /* top: 10px; */
  right: -2.2rem;
  z-index: 0;
  bottom: 0.2rem;
}
.black {
  position: absolute;

  z-index: 0;
  bottom: 0.3rem;
  left: -2rem;
}
.green {
  position: absolute;
  right: 8rem;
  z-index: 1;
  bottom: 0.2rem;
}

/* Extra small screens (max-width: 480px) */
@media (max-width: 480px) {
  .cta-banner {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%; /* Matches your 768px example */
  }
  .cta-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cta-2 .girl-img {
    max-width: 100%;
  }
  .yellow {
    width: 20%;
    right: 1rem;
  }
  .cta-banner h1 {
    font-size: 1.5rem; /* Slightly smaller for smaller screens */
  }
  .green {
    width: 25%;
    right: 6rem;
  }
  .black {
    width: 25%;
    left: 0rem;
  }
}

/* Medium screens (max-width: 992px) */
@media (max-width: 992px) {
  .cta-banner {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0 0.2rem;
  }
  .cta-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cta-2 .girl-img {
    max-width: 100%;
  }
  .yellow {
    width: 20%;
    right: -1rem;
  }
  .cta-banner h1 {
    font-size: 2.5rem;
  }
  .green {
    width: 25%;
    right: 4.5rem;
  }
  .black {
    width: 25%;
    left: 0rem;
  }
}

/* Large screens (max-width: 1200px) */
@media (max-width: 1200px) {
  .cta-banner {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .cta-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cta-2 .girl-img {
    max-width: 100%;
  }
  .yellow {
    width: 23%;
    right: -2rem;
  }
  .cta-banner h1 {
    font-size: 3rem;
  }
  .green {
    width: 25%;
    right: 8.5rem;
  }
  .black {
    width: 25%;
    left: -4rem;
  }
}

/* Your original medium screens (max-width: 768px) */
@media (max-width: 768px) {
  .cta-banner {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .cta-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cta-2 .girl-img {
    max-width: 100%;
  }
  .yellow {
    width: 20%;
    right: -1rem;
    height: 65%;
  }
  .cta-banner h1 {
    font-size: 2rem;
  }
  .green {
    width: 25%;
    right: 4.5rem;
  }
  .black {
    width: 25%;
    left: -1.5rem;
  }
}
/* CTA Section */

footer {
  margin: 50px 0;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.footer-1 ul a {
  text-decoration: none;
  color: #585858;
}

.details h1 {
  margin: 0;
  margin-bottom: 1rem;
}
.details-container {
  display: flex;
}
.mid-div {
  width: 30%;
  margin-top: 0.5rem;
  color: #585858;
}

.footer-1 ul {
  display: flex;
  gap: 4%;
  margin-top: 15%;
  padding: 0;
}

.footer-1 ul li {
  list-style: none;
}

.details ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 2rem;
}

.details {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  height: 100%;
}

@media (max-width: 768px) {
  footer {
    margin: 0;
    padding: 20px;
  }

  .footer-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .footer-1 .logo {
    margin-bottom: 2rem;
  }
  .mid-div {
    width: 90%;
    margin: 10px auto;
    font-size: 14px;
    line-height: 1.5;
  }

  .details {
    margin-bottom: 20px;
    width: 100%;
    justify-content: start;
    align-items: start;
    align-self: flex-start;
  }
  .details h1 {
    margin-bottom: 15px;
    font-size: 1.5rem;
  }

  .footer-1 ul {
    margin-top: 5px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .details ul {
    gap: 15px;
    margin: 0;
    width: 100%;
    text-align: start;
  }

  .details ul li {
    margin-bottom: 5px;
  }
  .details-container {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 480px) {
  .details ul {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .details-container {
    width: 100%;
    display: flex;
  }
}
/* Footer-1 */

/* Footer-3 */
.footer-3 {
  display: flex;
  padding: 1rem 2.5rem;
  justify-content: space-between;
  align-items: center;
  color: #9db0b8;
  border-top: 1px solid gray;
  background-color: #f2f5f6;
}
.footer-3 a {
  text-decoration: none;
  color: inherit;
}
.footer-3 div:nth-child(2) {
  display: flex;
  gap: 1rem;
}
.footer-3 img:last-child {
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-3 {
    flex-direction: column;
  }
  .footer-3 div:nth-child(2) {
    gap: 5rem;
  }
}

@media (max-width: 480px) {
  .footer-3 {
    flex-direction: column;
  }
  .footer-3 div:nth-child(2) {
    gap: 5rem;
  }
}
/* Footer-3 */

/* helper Section */
.help {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 40px;
  flex-direction: column;
  width: 100%;
}
.help-h p {
  color: #7d7f84;
}
.help-h h1 {
  font-size: 50px;
}

.help-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}

.help-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  max-width: 300px;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}
.help-card:hover {
  transform: scale(1.1);
}
.help-card span img:first-of-type {
  width: 64px;
  height: 64px;
}

.help-h {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  text-align: center;
}

.help-card a {
  text-decoration: none;
  border: none;
  color: inherit;
  background: none;
  padding: 0;
  margin: 0 10px;
  font: inherit;
  font-weight: 500;
}

.help-card p {
  margin: 10px 0;
  flex-grow: 1;
}

/* helper Section */
.form-sec {
  background: #f2f5f6;
}
.container {
  padding: 20px;
  margin: 0 100px;
}

.container h1 {
  font-size: 50px;
  color: #222;
  margin-bottom: 10px;
  text-align: center;
}

.description {
  color: #666;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
  gap: 50px;
}

.form-group {
  width: 50%;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-group img {
  width: 25px;
  height: 25px;
}
input,
textarea {
  width: 100%;
  border: none;
  font-size: 14px;
  outline: none;
  background-color: #f2f5f6;
}
.form-group:focus-within {
  border: 2px solid #11678f;
}

textarea {
  height: 120px;
  resize: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}
textarea:focus {
  border: 2px solid #11678f;
}
.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 2%;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-text {
  font-size: 14px;
  color: #666;
}

.checkbox-text a {
  color: #003b5c;
  text-decoration: none;
}

.submit-btn {
  background-color: #003b5c;
  color: white;
  border: none;
  border-radius: 42px;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #002a42;
}
.terms {
  color: #002a42;
  font-weight: bold;
}
/* Responsive adjustments */
